body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

#feedback-list {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.feedback-message {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.feedback-author {
    font-weight: bold;
}

.fa-star {
    color: #B8860B;
}

#go-back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #1460AA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#go-back-btn:hover {
    background-color: #104f88;
}

body {
    padding-top: 60px;
}