body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
}

select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
    resize: none;
    box-sizing: border-box;
}

#rating-select {
    width: 50px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
}

#feedback-section {
    flex: 0 0 60%;
}

#feedback-list {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.feedback-message {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.feedback-author {
    font-weight: bold;
}

.fa-star {
    color: #B8860B;
}

#write-feedback {
    flex: 0 0 35%;
    margin-left: 20px;
}


#Submit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1460AA;
    color: white;
}

#go-back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #1460AA;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}