<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/Manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Manager Feedback</title>
</head>
<body>
    <button type="button" id="go-back-btn" onclick="window.history.back()">Go Back</button>
    <div id="app" class="container">
        <h1>All Feedback</h1>
        <div id="feedback-section">
            <div id="feedback-list">
                <div v-for="fb in sortedFeedback" :key="fb.id" class="feedback-message">
                    <div class="feedback-author">{{ fb.author }} - <i class="fa-solid fa-star"></i>: {{ fb.rating }}</div>
                    <div><strong>Trip:</strong> {{ getTripName(fb.tripId) }}</div>
                    <div><strong>Comment:</strong> {{ fb.message }}</div>
                    <div>{{ new Date(fb.date).toLocaleString() }}</div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="javascripts/Manager.js"></script>
</body>
</html>