<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/User.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>User Feedback</title>
</head>
<body>
    <button type="button" id="go-back-btn" onclick="window.history.back()">Go Back</button>
    <div id="app" class="container">
        <h1>My Trips</h1>
        <select v-model="selectedTripId">
            <option value="">Select a trip</option>
            <option v-for="trip in trips" :key="trip.id" :value="trip.id">{{ trip.name }}</option>
        </select>

        <div id="content">
            <div id="feedback-section">
                <h2>Feedback</h2>
                <div id="feedback-list">
                    <div v-for="fb in filteredFeedback" :key="fb.id" class="feedback-message">
                        <div class="feedback-author">{{ fb.author }} - <i class="fa-solid fa-star"></i>: {{ fb.rating }}</div>
                        <div><strong>Trip:</strong> {{ getTripName(fb.tripId) }}</div>
                        <div><strong>Comment:</strong> {{ fb.message }}</div>
                        <div>{{ new Date(fb.date).toLocaleString() }}</div>
                    </div>
                </div>
            </div>

            <div id="write-feedback">
                <h2>Write Feedback</h2>
                <label>
                    <input type="checkbox" v-model="anonymous"> Post as Anonymous
                </label>
                <textarea v-model="feedbackMessage" placeholder="Write your feedback here..."></textarea>
                <div>
                    <label for="rating"><i class="fa-solid fa-star"></i>:</label>
                    <select id="rating-select" v-model="rating">
                        <option v-for="n in 5" :key="n" :value="n">{{ n }}</option>
                    </select>
                    <button type="button" id="Submit" @click="submitFeedback">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="javascripts/User.js"></script>
</body>
</html>